.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2;
    color:white;
}

.experience__container > div {
    background:#38ADEC;
    padding: 3rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    color: white;
}

.experience__container > div:hover {
    background: transparent;
    border-color:#6fbbe4;
    color: black;
    background-color:#6fbbe4;
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 4rem;
    color: white;
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 4rem;
}

.experience__details{
    display: flex;
    gap:1rem;
    
}

.experience__details-icon{
    margin-top: 6px;
    color: var(--color-primary);

}

.visi{
    padding-top: 20rem;
    text-align: center;
    
    
}

.visi h5{ 
    color:var(--color-primary);
    text-align: center;
    color: var(--color-light);

}

.visi h5{ 
    color:var(--color-primary);
    text-align: center;
    color: var(--color-light);

}

/* 
mobile responsive */
@media screen and (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr ;
        width: 20%;
        padding-top: 10rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
        font-size: 10px;
    }
    .visi{
        padding-top: 25rem;
        text-align: center;
        
    }

    .visi > h2 {
        color:var(--color-primary);
        margin-bottom: 3rem;
    }
    
    
}

@media screen and (max-width: 600px){
    .experience__container{
        grid-template-columns: 1fr ;
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }
}